#vertical-carousel {
    height: 100%; /* or 80vh */
    max-height: 110vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(25, 135, 84);
    border: .25em rgb(40, 40, 40) solid;
    scrollbar-color: rgb(0, 81, 0) rgb(25, 135, 84);
    padding: 0.2em;
}

.vertical-carousel-slide {
    height: 50%;
    min-height: 50%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.vertical-carousel-slide img {
    width: 98%;
    height: 99%;
    object-fit: cover;
    display: block;
    border: .25em rgb(40, 40, 40) solid;
    border-radius: 5%;
    margin-top: .2em;
    margin-left: .5em;
    
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

main,
main > .d-flex,
main .overflow-auto,
main .flex-fill.d-flex {
    min-height: 0;
}

.temp {
    font-size: 5em;
}

#points:hover {
    background-color: rgb(25, 135, 84) !important;
}