.nav-link {
    color: white
}

.nav-link.active {
    color: rgb(255, 221, 0);
    font-weight: bold;
}

.vertical-carousel {
    height: 100%; /* or 80vh */
    max-height: 110vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(25, 135, 84);
    padding: .2em;
    border: .25em rgb(40, 40, 40) solid;
}

.vertical-carousel-slide {
    height: 50%;
    min-height: 50%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.vertical-carousel-slide img {
    width: 98%;
    height: 99%;
    object-fit: cover;
    display: block;
    border: .25em rgb(40, 40, 40) solid;
    border-radius: 5%;
    margin-top: .2em;
    margin-left: .5em;
}

main,
main > .d-flex,
main .overflow-auto,
main .flex-fill.d-flex {
    min-height: 0;
}