.nav-link {
    color: white
}

.nav-link.active {
    color: rgb(255, 221, 0);
    font-weight: bold;
}

@font-face {
    font-family: 'Lemon Regular';
    src: url('../fonts/Lemon-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }